h1 {text-align: center;
border:solid green 4px;
border-radius: 10px;
text-transform: uppercase;
 }

ul {
text-transform: uppercase;

}
h2 {
text-decoration: underline;
text-transform: uppercase;
padding: 40px;

}
p {
padding: 5px;


}
